@model RINOR_POS.Models.billtemplateViewModel

@{
    ViewBag.Title = "Bill Template";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Bill
                <span>
                    >
                    Template
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-collapsed="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Bill Template</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            @using (Html.BeginForm("Index", "billtemplate", FormMethod.Post, htmlAttributes: new { @class = "smart-form", enctype = "multipart/form-data" }))
                            {
                                <fieldset>
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.BillTemplateID)
                                    @Html.HiddenFor(model => model.flagSave, new { @id = "flagSave" })

                                    <section>
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelRequiredFor(model => model.MasterShopID, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="input">
                                                    @Html.DropDownListFor(model => model.MasterShopID, new SelectList(Model.MasterShopList, "ShopID", "ShopName"), "- Select Master Shop -", htmlAttributes: new { @id = "ddlMasterShop", @class = "form-control select2", @onChange = "GetShopList(this.value)" })
                                                    @Html.ValidationMessageFor(model => model.MasterShopID, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelRequiredFor(model => model.ShopID, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.DropDownListFor(model => model.ShopID, new SelectList(Model.ShopList, "ShopID", "ShopName"), "- Select Shop -", htmlAttributes: new { @id = "ddlShop", @class = "form-control select2", onclick = "ChangeFlagSave()", onchange = "submit()" })
                                                @Html.ValidationMessageFor(model => model.ShopID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="input">
                                                    @Html.DropDownList("Position", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="Header", Value = "Header" },
                                                    new SelectListItem{ Text="Footer", Value = "Footer" },
                                                    }, htmlAttributes: new { @id = "ddlPosition", @class = "form-control select2" })
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelRequiredFor(model => model.Ordering, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-lg-2">
                                                <label class="input">
                                                    @Html.EditorFor(model => model.Ordering, "1", new { htmlAttributes = new { @class = "form-control", placeholder = "Ordering" } })
                                                    @Html.ValidationMessageFor(model => model.Ordering, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-lg-7">
                                                <label class="input">
                                                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "Text" } })
                                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            <input type="submit" value="Save" style="width:80px; margin:0px 20px 20px 0px" onclick="ClickSave()" class="btn btn-primary pull-right btn-sm" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    @if (Model.ShopID > 0)
                                    {
                                        <section>
                                            <div class="col-md-1"></div>
                                            <div class="row">
                                                <a type="button" class="btn btn-primary btn-sm hidden-mobile" href="@Url.Action("LogoImage", "billtemplate", new { MasterShopID = Model.MasterShopID, ShopID = Model.ShopID }, Request.Url.Scheme)"><i class='fa fa-wrench'></i> Logo Shop</a>
                                            </div>
                                        </section>
                                    }
                                    <section>
                                        <div id="divtable" class="col-md-12">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5">
                                                <div class="widget-body no-padding">
                                                    <br />
                                                    <table class="table table-striped table-bordered table-hover" id="table_basic">
                                                        <thead>
                                                            <tr>
                                                                <th hidden="hidden"></th>
                                                                <th style="width:20%; text-align:center">
                                                                    #Ordering
                                                                </th>
                                                                <th style="width:60%; text-align:center">
                                                                    Bill Template
                                                                </th>
                                                                <th style="width:20%">
                                                                    Action
                                                                </th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{
                                                                int i = 0;
                                                                foreach (var positionTemp in Model.BillTemplateList.GroupBy(x => x.Position))
                                                                {
                                                                    <tr style="background-color:lightgray">
                                                                        <td colspan="3">
                                                                            <label>Position: @positionTemp.FirstOrDefault().Position</label>
                                                                        </td>
                                                                    </tr>

                                                                    foreach (var item in positionTemp)
                                                                    {
                                                                        <tr>
                                                                            <td hidden="hidden">
                                                                                @Html.EditorFor(modelItem => item.BillTemplateID, new { htmlAttributes = new { @id = "BillTemplateID_" + i, @class = "form-control", @readonly = "readonly" } })
                                                                            </td>
                                                                            <td style="padding-left:3%">
                                                                                @Html.DisplayFor(modelItem => item.Ordering, new { htmlAttributes = new { @id = "Ordering_" + i, @class = "form-control" } })
                                                                            </td>
                                                                            <td style="padding-left:3%">
                                                                                @Html.DisplayFor(modelItem => item.Text, new { htmlAttributes = new { @id = "Text_" + i, @class = "form-control" } })
                                                                            </td>
                                                                            <td>
                                                                                <button value="@item.BillTemplateID" onclick="DeleteBillByID(value)" class="btn btn-danger btn-sm">Delete</button>
                                                                            </td>
                                                                        </tr>

                                                                        i++;
                                                                    }
                                                                }
                                                            }
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-5">
                                                <br />

                                                @{
                                                    if (Model.billlogo != null)
                                                    {
                                                        //Logo Shop
                                                        <div class="row">
                                                            <div style="text-align:center">
                                                                <img src=@Model.billlogo.LogoHeaderFile style="max-width:130px" alt="">
                                                            </div>
                                                        </div>
                                                    }
                                                    int r = 0;
                                                    foreach (var positionTemp in Model.BillTemplateList.GroupBy(x => x.Position))
                                                    {
                                                        foreach (var item in positionTemp)
                                                        {
                                                            <div class="row">
                                                                <div style="text-align:center">
                                                                    @Html.DisplayFor(modelItem => item.Text, new { htmlAttributes = new { @id = "Text_" + r, @class = "form-control" } })
                                                                </div>
                                                            </div>

                                                            r++;
                                                            if (positionTemp.Count() == r && item.Position == "Header")
                                                            {
                                                                //akhir dari header, kasih gambar default
                                                                <div class="row">
                                                                    <div style="text-align:center">
                                                                        <img src="~/content/img/menu-bill-template.jpeg" style="max-width:100%" alt="">
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }

                                            </div>

                                        </div>
                                    </section>
                                </fieldset>

                                                    }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#ddlMasterShop').val('').change();
        });
        function ChangeFlagSave() {
            var flag = document.getElementById("flagSave");
            flag.value = 'changes';
        }
        function ClickSave() {
            var flag = document.getElementById("flagSave");
            flag.value = 'save';
        }
        function GetShopList(MasterShopID) {
            $.ajax({
                "url": baseURL + "billtemplate/GetShopList?MasterShopID=" + MasterShopID,
                "type": "GET",
                "dataType": "json",
                success: function (data) {
                    var output = '<option value="0"> Select Shop </option>';
                    $.each(data, function (key, entry) {
                        output += '<option value=' + entry.ShopID + '>' + entry.ShopName + '</option>';
                    })
                    $("#ddlShop").html(output);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }
        function DeleteBillByID(id) {
            $.ajax({
                type: "GET",
                url: baseURL + "billtemplate/DeleteBillByID/" + id,
                success: function (data) {
                    if (data == "1") {
                        location.reload(true);
                    }
                    else {
                        alert("Failed Delete Data");
                    }

                },
            });
        }

    </script>
}