@model RINOR_POS.Models.salemodeViewModel

@{
    ViewBag.Title = "Sale Mode";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Sale Mode
                <span>
                    >
                    New Data
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-collapsed="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Sale Mode </h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            @using (Html.BeginForm("Create", "salemode", FormMethod.Post, htmlAttributes: new { @class = "smart-form", enctype = "multipart/form-data" }))
                            {
                                <header>
                                    New Data Form
                                </header>

                                <fieldset>
                                    <fieldset>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <br />
                                        @Html.HiddenFor(model => model.SaleModeID)
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelRequiredFor(model => model.SaleModeName, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.SaleModeName, new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "SaleModeName" } })
                                                        @Html.ValidationMessageFor(model => model.SaleModeName, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.PrefixText, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.PrefixText, new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "Prefix Text" } })
                                                        @Html.ValidationMessageFor(model => model.PrefixText, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.PrefixTextPrinting, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.PrefixTextPrinting, new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "Prefix Text Printing" } })
                                                        @Html.ValidationMessageFor(model => model.PrefixTextPrinting, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.PrefixQueue, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.PrefixQueue, new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "Prefix Queue" } })
                                                        @Html.ValidationMessageFor(model => model.PrefixQueue, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.ReceiptHeaderText, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ReceiptHeaderText, new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "ReceiptHeaderText" } })
                                                        @Html.ValidationMessageFor(model => model.ReceiptHeaderText, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.NoPrintCopy, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.NoPrintCopy, "1", new { htmlAttributes = new { @class = "form-control col-lg-6", placeholder = "No Print Copy" } })
                                                        @Html.ValidationMessageFor(model => model.NoPrintCopy, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.PositionPrefix, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <span class="onoffswitch-title"></span> <span class="onoffswitch">
                                                        <input type="checkbox" name="PositionPrefix" id="chk_PositionPrefix" class="onoffswitch-checkbox" value="true" @(Model.PositionPrefix.GetValueOrDefault() ? "checked=\"checked\"" : "") />
                                                        <label class="onoffswitch-label" for="chk_PositionPrefix">
                                                            <span class="onoffswitch-inner" data-swchon-text="Yes" data-swchoff-text="No"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.HasServiceCharge, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <span class="onoffswitch-title"></span> <span class="onoffswitch">
                                                        <input type="checkbox" name="HasServiceCharge" id="chk_HasServiceCharge" class="onoffswitch-checkbox" value="true" @(Model.HasServiceCharge.GetValueOrDefault() ? "checked=\"checked\"" : "") />
                                                        <label class="onoffswitch-label" for="chk_HasServiceCharge">
                                                            <span class="onoffswitch-inner" data-swchon-text="Yes" data-swchoff-text="No"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </section>
                                    </fieldset>
                                </fieldset>
                                <fieldset title="Image">
                                    <section>
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.IconButtonServer, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                <label class="input">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-file">
                                                            Browse asset image ( *.jpg | *.gif | *.png )
                                                            <input type="file" id="flPhoto" name="upload">
                                                        </span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Width: <label id="lblWidth">200px</label>
                                                                Height: <label id="lblHeight">200px</label>
                                                            </td>
                                                            <td><a href="#" id="hlcropImage" class="btn btn-primary" style="border-radius:5px"><i class="fa fa-crop"></i> Crop Image</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div style="height:300px; width:300px; overflow:auto;">
                                                                    <img id="imgEmpPhoto" src="~/Content/img/avatars/food.png" alt="Image">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <canvas id="canvas" height="5" width="5" style="padding:30%"></canvas>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p>
                                                    <img id="imgCropped" src="#" style="display:none;">
                                                </p>
                                                <input type="hidden" name="IconButtonServer" id="IconButtonServer">
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                                <footer>
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            @Html.ActionLink("Cancel", "Index", "salemode", htmlAttributes: new { @class = "btn btn-default" })
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </footer>

                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        var imageCropWidth = 0;
        var imageCropHeight = 0;
        var cropPointX = 0;
        var cropPointY = 0;
        var jcropApi;

        $("#hlcropImage").on("click", function (e) {

            /*
            The event.preventDefault() method stops the default action of
            an element from happening. For example: Prevent a submit button
            from submitting a form. Prevent a link from following the URL
            */

            e.preventDefault();
            cropImage();
        });

        function initCrop() {
            $('#imgEmpPhoto').Jcrop({
                onChange: setCoordsAndImgSize,
                aspectRatio: 0, // 1 means will be same for height and weight
                onSelect: setCoordsAndImgSize
            }, function () { jcropApi = this });
        }

        function showCoordinate() {
            $("#lblWidth").text(imageCropWidth + "px");
            $("#lblHeight").text(imageCropHeight + "px");
        }

        function setCoordsAndImgSize(e) {

            imageCropWidth = e.w;
            imageCropHeight = e.h;

            cropPointX = e.x;
            cropPointY = e.y;

            $("#lblWidth").text(imageCropWidth + "px");
            $("#lblHeight").text(imageCropHeight + "px");
        }

        function cropImage() {

            if (imageCropWidth == 0 && imageCropHeight == 0) {
                alert("Please select crop area.");
                return;
            }

            var img = $("#imgEmpPhoto").attr("src");

            /*Show cropped image*/
            showCroppedImage();
        }

        function showCroppedImage() {
            var x1 = cropPointX;
            var y1 = cropPointY;

            var width = imageCropWidth;
            var height = imageCropHeight;
            var canvas = $("#canvas")[0];
            var context = canvas.getContext('2d');
            var img = new Image();
            img.onload = function () {
                canvas.height = height;
                canvas.width = width;
                context.drawImage(img, x1, y1, width, height, 0, 0, width, height);
                $('#IconButtonServer').val(canvas.toDataURL());
            };
            img.src = $('#imgEmpPhoto').attr("src");
        }

        function readFile(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                /*Destroy jcrop initialization other wise it will hold it previous image in img tag*/
                if (jcropApi != null) {
                    jcropApi.destroy();
                }
                reader.onload = function (e) {
                    $('#imgEmpPhoto').attr('src', "");
                    var img = $('#imgEmpPhoto').attr('src', e.target.result);

                    /*Current uploaded image size*/
                    var width = img[0].height;
                    var height = img[0].width;
                    $("#lblWidth").text(width + "px");
                    $("#lblHeight").text(height + "px");

                    //InitCrop must call here otherwise it will not work
                    initCrop();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#flPhoto').change(function () {
            readFile(this);
            //initCrop();
        });
    </script>
}