@model RINOR_POS.Models.brandViewModel

@{
    ViewBag.Title = "Brand";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Brand
                <span>
                    >
                    Detail Data
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-collapsed="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Brand Data </h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            @using (Html.BeginForm("Detail", "brand", FormMethod.Post, htmlAttributes: new { @class = "smart-form", enctype = "multipart/form-data" }))
                            {
                                <header>
                                    Detail Data Form
                                </header>
                                <fieldset>
                                    <fieldset>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <br />
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.BrandKey, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.BrandKey, new { htmlAttributes = new { @class = "form-control", placeholder = "Brand Name", @readonly = "readonly" } })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.BrandCode, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.BrandCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Brand Code", @readonly = "readonly" } })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control", placeholder = "Brand Name", @readonly = "readonly" } })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.IPAddress, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.IPAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Brand Name", @readonly = "readonly" } })
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.Activate, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="col-lg-8">
                                                    <span class="onoffswitch-title"></span> <span class="onoffswitch">
                                                        <input type="checkbox" name="Activate" id="chk_flag" disabled="disabled" class="onoffswitch-checkbox" value="true" @(Model.Activate.GetValueOrDefault() ? "checked=\"checked\"" : "") />
                                                        <label class="onoffswitch-label" for="chk_flag">
                                                            <span class="onoffswitch-inner" data-swchon-text="Yes" data-swchoff-text="No"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </section>
                                    </fieldset>
                                </fieldset>

                                <footer>
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            @Html.ActionLink("Back", "Index", "merchant", htmlAttributes: new { @class = "btn btn-default" })
                                        </div>
                                    </div>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>